/**
 * Checkboxes.
 * @see https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
 * @see https://boolie.org/css-checkbox-styling/
 *
 * @todo visualize disabled state.
 */
.form-type-checkbox.form-item {
  display: flex;
  align-items: baseline;
  input[type="checkbox"] {
    display:none;
  }
  label:not(.show-label) {
    font-size: 0;
  }
  label {
    margin-bottom: 0;
  }
  input[type="checkbox"] + label::before {
    width: 18px;
    height: 18px;
    background-image: url("../../images/icons/checkbox-box-01-unselected.svg");
    display: block;
    content: "";
    float: left;
    margin-right: 5px;
  }
  input[type="checkbox"]:hover+label::before {
    background-image: url("../../images/icons/checkbox-box-04-focus-unselected.svg");
  }
  input[type="checkbox"]:checked+label::before {
    background-image: url("../../images/icons/checkbox-box-02-selected.svg");
  }
  input[type="checkbox"]:checked:hover+label::before {
    background-image: url("../../images/icons/checkbox-box-05-focus-selected.svg");
  }
}
