/* Base imports */
/* TODO: Change label to secondary button */
/* Layout imports */
body.node-add-edit .region.region-pre-content nav.tabs.scroll-nav-active {
  margin-left: calc(15% - 1em); }

body.node-add-edit .page-content {
  margin: 0; }
  body.node-add-edit .page-content .layout-node-form {
    margin: 0 -2.5em;
    display: flex;
    padding-bottom: 100px;
    min-height: 75vh; }
    body.node-add-edit .page-content .layout-node-form nav#scroll-nav.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 125px;
      height: 330px;
      margin-top: 70px; }
    body.node-add-edit .page-content .layout-node-form .layout-region-node-main {
      padding: 50px 2.5em 50px 2.5em;
      background: white; }
    body.node-add-edit .page-content .layout-node-form .layout-region-node-secondary {
      padding: 0 2.5em; }
    body.node-add-edit .page-content .layout-node-form .layout-region-form-actions {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: white;
      padding: 15px 2.5rem 0 2.5rem;
      border-top: 5px solid #dcdcdc; }
      body.node-add-edit .page-content .layout-node-form .layout-region-form-actions .form-actions {
        display: flex;
        align-items: center;
        justify-content: start; }

/* General layout rules */
.fixed {
  z-index: 10;
  position: fixed;
  width: 100%; }

.js .paragraph-top {
  display: flex; }
  .js .paragraph-top .paragraph-summary {
    display: none; }
  @media screen and (min-width: 920px) {
    .js .paragraph-top {
      display: grid;
      grid-template-columns: 350px auto 1fr auto; }
      .js .paragraph-top .paragraph-summary {
        display: block; } }

/* Use these in form display config for field groups to layout fields
 * @todo: Separate in own file?
 * @todo: Add class to label and set to 100% width.
 */
.field-group-html-element.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .field-group-html-element.flex > div {
    flex: 1;
    margin-right: 15px; }
    .field-group-html-element.flex > div:last-child {
      margin-right: 0; }

.field-group-html-element.alignment-start {
  align-items: flex-start; }
