/* Base imports */
/* TODO: Change label to secondary button */
/* Layout imports */
body.node-add-edit .region.region-pre-content nav.tabs.scroll-nav-active {
  margin-left: calc(15% - 1em); }

body.node-add-edit .page-content {
  margin: 0; }
  body.node-add-edit .page-content .layout-node-form {
    margin: 0 -2.5em;
    display: flex;
    min-height: 75vh; }
    body.node-add-edit .page-content .layout-node-form nav#scroll-nav.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 125px;
      height: 330px;
      margin-top: 70px; }
    body.node-add-edit .page-content .layout-node-form .layout-region-node-main {
      padding: 50px 2.5em 50px 2.5em;
      background: white; }
    body.node-add-edit .page-content .layout-node-form .layout-region-node-secondary {
      padding: 0 2.5em; }

/* General layout rules */
.fixed {
  z-index: 10;
  position: fixed;
  width: 100%; }

.js .paragraph-top {
  grid-template-columns: 200px auto 1fr auto; }

/* Use these in form display config for field groups to layout fields
 * @todo: Add to readme and separate in own file.
 */
.field-group-html-element.flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .field-group-html-element.flex > div {
    flex: 1;
    margin-right: 15px; }
    .field-group-html-element.flex > div:last-child {
      margin-right: 0; }

.field-group-html-element.alignment-start {
  align-items: flex-start; }
