// TODO: Review and use same names as in color.inc.
$black: #171717;
$white: #f3f3f3;
$grey-dark: #434343;
$primary: #00376a;
$primary-light: #89d2f6;
$primary-middle: #00b6ed;
$primary-dark: #2d2376;
$secondary: #c3a201;
$grey: #565656;
$grey-light: #8c8c8c;
$bright-grey: #dcdcdc;
$alternative-grey: #cccccc;
