body.node-add-edit {
  .region.region-pre-content{
    // Tabs on node edit/add pages.
    // TODO: If scroll nav then a padding.
    nav.tabs {
      &.scroll-nav-active {
        // TODO: Why 1em?
        margin-left: calc(15% - 1em);
      }
    }
  }
  .page-content {
    margin: 0;
    .layout-node-form {
      margin: 0 -2.5em;
      display: flex;
      // Reasonable min-height to make the form full height.
      min-height: 75vh;
      nav#scroll-nav {
        &.sticky {
          position: sticky;
          top: 125px;
          height: 330px;
          margin-top: 70px;
        }
      }
      .layout-region-node-main {
        padding: 50px 2.5em 50px 2.5em;
        background: white;
      }
      .layout-region-node-secondary {
        padding: 0 2.5em;
      }
    }
  }
}
