.padding-top {
  padding-top: calc(32px + 96px); }

.page-content {
  margin-top: 40px; }

.field--type-image .form-managed-file-wrapper--dropzone.has-file:before {
  background: none;
  border: none; }
