// Buttons
button, input[type="submit"], a.button {
  @include font-plex-regular;
  @include tertiary-button;
}

a.button--primary, input.button--primary{
  @include font-plex-regular;
  @include primary-button;
}

a.button--danger, input[type="submit"].button--danger {
  @include delete-button;
}

/* If its the only button */
.form-actions {
  input[type="submit"]:only-child {
    @include primary-button;
  }
}

.button-action{
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  height: 48px;
  padding: 7px 2em 7px 1em !important;
  font-size: 14px !important;
  &:before{
    content: none;
  }
}
