@import "./../theme/theme_mixins";

@mixin clear-after() {
  &:after{
    content: "";
    clear: both;
    display: table;
  }
}

@mixin input() {
  max-width: 100%;
  padding: 7px 2em 7px 1em;
  transition: none;
  border: 2px solid $white;
  border-radius: 2px;
  background: $white;
  box-shadow: none;
  color: $black;
  @include font-plex-regular;
  &:focus {
    border: solid 2px $primary-light;
    outline: none;
    box-shadow: none;
    background-color: $white;
  }
}

// General Button
@mixin primary-button {
  margin: 0 15px 10px 0;
  color: #fff;
  border-color: $primary;
  text-shadow: none;
  font-weight: 500;
  padding-top: 14px;
  padding-bottom: 14px;
  background: $primary none;
  @include font-plex-regular;
  &:hover {
    color: #fff;
    border-color: $primary-middle;
    background: $primary-middle none;
    box-shadow: none;
  }
  &:focus, &:active {
    outline: none;
    box-shadow: none;
    color: #fff;
    border-color: $primary;
    background: $primary none;
  }
}

/* TODO: Change label to secondary button */
@mixin tertiary-button {
  margin: 0 15px 10px 0;
  color: $primary-dark;
  padding-top: 14px;
  padding-bottom: 14px;
  background: white none;
  border: 1px solid $primary;
  &:hover {
    color: white;
    border-color: $primary;
    background: $primary none;
    box-shadow: none;
  }
  &:focus, &:active {
    outline: none;
    box-shadow: none;
    color: $primary-dark;
    background: white none;
    border: 1px solid $primary;
  }
}

@mixin delete-button{
  color: #ff0000;
  @include font-plex-regular;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  transition: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  &:hover {
    text-decoration: none;
    box-shadow: none;
    color: #ff0000 !important;
    border: none;
    background: none;
  }
}

// Button Helper
@mixin small {
  padding-top: 6px;
  padding-bottom: 6px;
}

// Detail Summary
@mixin details {
  .cleanimal-details{
    border: none;
    &:first-child{
      border: none;
    }
    summary {
      background-color: $white;
      color: $black;
      font-size: 14px;
      font-weight: 600 !important;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 0.16px;
      height: 32px;
      border-radius: 2px !important;
      border: solid 1px $alternative-grey;
      display: flex;
      align-items: center;
      &[aria-expanded="true"]{
        border-radius: 0 !important;
        border-top-left-radius: 2px !important;
        border-top-right-radius: 2px !important;
      }
    }
  }
}
