.dropbutton-wrapper {
  .dropbutton-widget {
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    background-image: none !important;
    background-image: none !important;
    text-shadow: none !important;
    .dropbutton {
      width: auto;
      min-width: 100px;
      .dropbutton-action {
        width: auto;
        min-width: 100px;
        &:first-child {
          a, input {
            border-right: none;
          }
        }
        a, input {
          @include font-plex-regular;
          border: 1px solid $primary-dark;
          color: $primary-dark;
          background-color: white;
          border-radius: 0 !important;
          text-shadow: none;
          background-image: none;
          &:hover {
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
          &:focus {
            z-index: 3;
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
        }
        input {
          height: 28px;
          width: 100% !important;
        }
      }
      .dropbutton-toggle {
        button {
          border: 1px solid $primary-dark;
          background-color: white;
          &:hover, &:active, &:focus {
            color: $primary-dark;
            background-color: white;
            background-image: none;
            box-shadow: none;
          }
          .dropbutton-arrow {
            background-image: url("../../images/icons/dots_primary.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: auto;
            right: auto;
            display: block;
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin-top: auto;
            border-width: 0;
            border-style: none;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            line-height: 0;
            @media screen and (max-width: 1440px) {
              background-size: 15px;
            }
          }
        }
      }
      .secondary-action {
        width: auto;
        min-width: 100px;
        background-color: white;
        border-left: 1px solid $primary-dark;
        border-top: 0;
        border-bottom: 0;
        a {
          @include font-plex-regular;
          color: $primary-dark;
          border: none;
          &:hover {
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
        }
        &:last-child {
          border-bottom: 1px solid $primary-dark;
        }
      }
    }
  }
  &.open {
    .dropbutton-widget {
      .dropbutton {
        .dropbutton-toggle {
          button {
            .dropbutton-arrow {
              background-position: 4px 3px;
            }
          }
        }
        .secondary-action {
          input {
            border-top: none !important;
            border-right: none !important;
          }
        }
      }
    }
  }
}
