.views-exposed-form {
  .form--inline {
    border: none;
    @include details;
    .exposed-form-wrapper {
      border-left: 1px solid $alternative-grey;
      border-right: 1px solid $alternative-grey;
      border-bottom: 1px solid $alternative-grey;
      display: flex;
      flex-wrap: wrap;
      .filters-wrapper {
        border-bottom: 1px solid $alternative-grey;
        flex: 1;
        @include general-padding;
        display: flex;
        align-items: flex-start;
        &.many-filters {
          flex-wrap: wrap;
          > .form-item, > .form-wrapper {
            width: calc(25% - 0.5em);
            border: 0;
          }
          > .form-item-items-per-page {
            margin-right: 75%;
          }
        }
        &.columns-present .filter-wrap {
          width: auto;
        }
        > details.form-item.seven-details {
          &[open] {
            .details-wrapper {
              border: 1px solid #bfbfbf;
              padding-top: 0.5em;
              > * {
                max-width: 100%;
              }
            }
          }
        }
        .filter-wrap {
          .chosen-container {
            margin-left: 10px;
          }
        }
      }
      .column-wrapper {
        border-bottom: 1px solid $alternative-grey;
        flex: 1;
        @include general-padding;
        .details-wrapper {
          .form-type-select {
            select {
              min-width: 230px;
            }
          }
          .form-item.move-buttons {
            div[class^="move"] {
              font-size: 0 !important;
              position: relative;
              border: none !important;
              background-color: $white !important;
              &:before{
                background: url(../../images/icons/icon-navigation-chevron-down.svg) center no-repeat;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
              }
              &.move-right:before{
                transform: rotate(-90deg);
              }
              &.move-left:before{
                transform: rotate(90deg);
              }
              &.move-top:before{
                transform: rotate(180deg);
              }
            }
          }
        }
      }
      .actions {
        flex: 0 0 100%;
        .form-actions{
          background-color: $white;
          @include general-padding;
          margin: 0;
          display: flex;
          flex-direction: row-reverse;
          input{
            @include small;
          }
        }
      }
    }
    .js-form-item {
      input, select{
        width: 100%;
      }
    }
  }
  &.manual-selection-form {
    .form--inline {
      .exposed-form-wrapper {
        .filters-wrapper {
          display: block;
        }
      }
    }
  }
}
