// Modal
.ui-dialog {
  .ui-dialog-titlebar {
    background: $black none !important;
    button {
      border-width: 1px;
      .ui-icon-closethick {
        background-size: 20px;
        background: url("../../images/icons/icon-navigation-close_white.svg") center;
      }
    }
  }
  /*.ui-dialog-buttonset {
    button {
      @include tertiary-button;
    }
    button.button--primary {
      @include primary-button;
    }
  }*/
  .ui-dialog-content {
    .media-library-wrapper {
      .media-library-content {
        #media-library-add-form-wrapper {
          /* Add new media form item */
        }
        .views-element-container {
          > .view {
            .view-filters {
              .views-exposed-form {
                .form--inline {
                  .js-form-item {
                    width: auto;
                  }
                  .media-library-view--form-actions {
                    input {
                      @include primary-button;
                    }
                  }
                }
              }
            }
            .view-content {
              .views-form {
                .media-library-views-form {
                  .media-library-item {
                    position: relative;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ui-dialog-buttonpane {
    background: $white;
  }
}
