// Modal
.ui-dialog{
  .ui-dialog-titlebar{
    background: none !important;
    background-color: $black !important;
    button{
      border-width: 1px;
      .ui-icon-closethick{
        background: none;
        background-image: url("../../images/icons/icon-navigation-close_white.svg");
        background-size: 20px;
        background-position: center;
      }
    }
  }
  .ui-dialog-content{
    .media-library-wrapper{
      .media-library-content{
        .media-library-add-form-wrapper{
          background-color: $white;
          border: none;
        }
        .views-element-container{
          .media-library-view{
            .view-filters{
              .views-exposed-form{
                .form--inline{
                  border: none;
                  .js-form-item{
                    width: auto;
                  }
                  .media-library-view--form-actions{
                    input{
                      @include primary-button;
                      @include small;
                    }
                  }
                }
              }
            }
            .view-content{
              .views-form{
                .media-library-views-form{
                  .media-library-item{
                    position: relative;
                    .js-click-to-select-checkbox{
                      display: block;
                      width: 15px;
                      height: 15px;
                      top: auto;
                      right: 15px;
                      bottom: 13px;
                      .field-content{
                        width: 15px;
                        height: 15px;
                        display: block;
                        .js-form-type-checkbox{
                          width: 15px;
                          height: 15px;
                          label{
                            &:before{
                              min-width: 16px;
                            }
                          }
                          .visually-hidden{
                            position: relative !important;
                            clip: auto;
                            width: auto;
                            height: auto;
                            word-wrap: initial;
                            text-indent: 9999px;
                            white-space: nowrap;
                            overflow: hidden;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ui-dialog-buttonpane{
    background-color: $white;
    button{
    }
  }
}
