// Buttons
.form-actions {
  /*  */
  button {
    @include font-plex-regular;
    @include tertiary-button;
  }
  /* If its the only button */
  input[type="submit"]:only-child {
    @include primary-button;
  }
}

button, input[type="submit"], a.button {
  @include font-plex-regular;
  @include tertiary-button;
}

a.button--primary, input.button--primary, button.button--primary, .button--primary {
  @include font-plex-regular;
  @include primary-button;
}

button[type="button"].button--danger, a.button--danger, input[type="submit"].button--danger {
  @include delete-button;
}

.button-action{
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  height: 48px;
  padding: 7px 2em 7px 1em !important;
  font-size: 14px !important;
  &:before{
    content: none;
  }
}
