.layout-node-form {
  nav#scroll-nav {
    width: 15%;
    ul {
      list-style: none;
      padding: 0;
      padding-right: 32px;
      margin: 0;
      li {
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 2.5em;
        a {
          @include font-plex-regular;
          color: $grey;
          height: 40px;
          line-height: 3;
          width: 100%;
          &:hover, &:focus {
            text-decoration: none;
          }
          &:after {
            content: "";
            border-bottom: 1px solid #dcdcdc;
            height: 1px;
            width: calc(100% + 2.5em);
            display: block;
            margin-left: -2.5em;
          }
          &.active {
            color: $black;
            font-weight: 700;
            &:after {
              @include gradient-purple-blue;
              border-bottom: 2px solid;
            }
          }
        }
      }
    }
  }
  .layout-region-node-main {
    > div {
      .scroll-nav-content {
        padding-top: 150px;
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}
