@mixin clear-after() {
  &:after{
    content: "";
    clear: both;
    display: table;
  }
}

@mixin input() {
  max-width: 100%;
  padding: 7px 2em 7px 1em;
  transition: none;
  border: 2px solid $white;
  border-radius: 2px;
  background: $white;
  box-shadow: none;
  color: $black;
  @include font-plex-regular;
  &:focus {
    border: solid 2px $primary-light;
    outline: none;
    box-shadow: none;
    background-color: $white;
  }
}

/* From here its todo. */

@mixin font-plex-light {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  @media screen and (max-width: 1440px) {
    font-size: 10px;
  }
}

@mixin font-plex-regular {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.29 !important;
  letter-spacing: 0.2px;
  font-size: 14px;
  @media screen and (max-width: 1440px) {
    font-size: 10px !important;
  }
}

@mixin font-plex-medium {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  line-height: 1.29 !important;
  letter-spacing: normal;
  @media screen and (max-width: 1440px) {
    font-size: 10px;
  }
}

@mixin font-plex-semi-bold {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

@mixin font-plex-bold {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  @media screen and (max-width: 1440px) {
    font-size: 10px;
  }
}

@mixin gradient-purple-blue {
  border-image-source: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

@mixin gradient-background {
  background-image: linear-gradient(to right, $primary, $secondary);
}


@mixin general-padding {
  padding: 7px 2em 7px 1em !important;
}

/*** Buttons ***/
// General Button
@mixin primary-button {
  color: #fff;
  border-color: $primary;
  background-image: none;
  text-shadow: none;
  font-weight: 500;
  -webkit-font-smoothing: none;
  height: 48px;
  background-color: $primary;
  @include font-plex-regular;
  &:hover{
    color: #fff !important;
    border-color: $primary-middle;
    background-color: $primary-middle;
    background-image: none;
    box-shadow: none;
  }
  &:focus{
    z-index: 10;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

@mixin tertiary-button {
  color: $primary-dark;
  height: 48px;
  background-color: white;
  background-image: none;
  border: 1px solid $primary;
  &:hover{
    color: white !important;
    border-color: $primary;
    background-color: $primary;
    background-image: none;
    box-shadow: none;
  }
  &:focus{
    z-index: 10;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

@mixin delete-button{
  color: #ff0000;
  @include font-plex-regular;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  transition: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  background-image: none;
  text-shadow: none;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: none;
  &:hover{
    text-decoration: none;
    box-shadow: none;
    color: #ff0000 !important;
  }
}

// Button Helper
@mixin small {
  height: 32px;
}

// Detail Summary
@mixin detailssummary {
  .cleanimal-details{
    border: none;
    &:first-child{
      border: none;
    }
    summary{
      background-color: $white;
      color: $black;
      font-size: 14px;
      font-weight: 600 !important;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: 0.16px;
      height: 32px;
      border-radius: 2px !important;
      border: solid 1px $alternative-grey;
      display: flex;
      align-items: center;
      &[aria-expanded="true"]{
        border-radius: 0 !important;
        border-top-left-radius: 2px !important;
        border-top-right-radius: 2px !important;
      }
    }
    .filter-wrapper{
      border-left: 1px solid $alternative-grey;
      border-right: 1px solid $alternative-grey;
      border-bottom: 1px solid $alternative-grey;
      .filters-wrapper{
        @include general-padding;
        display: flex;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid $alternative-grey;
        .filters, .columns{
          flex-grow: 1;
        }
        .filters{
          flex-basis: 60%;
          .active-filters{
            .filter-wrap{
              margin: 0;
              width: 100%;
            }
          }
          .select-filters{
            .form-item{
              width: auto !important;
            }
          }
        }
        .columns{
          flex-basis: 40%;
          .js-form-item-available-columns, .js-form-item-selected-columns{
            width: auto !important;
            #flexible-table-selected-columns, #flexible-table-available-columns{
              min-width: 200px;
            }
            label{
              font-size: 12px;
              line-height: 16px;
              letter-spacing: 0.32px;
              color: $grey;
            }
            select{
              overflow: auto;
              &.form-select{
                padding: 7px 10px 7px 2px;
                background-color: white;
                border: 1px solid $bright-grey;
                option{
                  padding: 7px 5px;
                  &:hover{
                    color: black;
                    background-color: #f0f0f0;
                  }
                  &:checked{
                    color: white !important;
                    background-color: $primary !important;
                  }
                }
              }
            }
          }
          .move-buttons{
            .move-right, .move-left, .move-top, .move-down{
              background-repeat: no-repeat;
              background-position: center;
              background-color: $white;
              font-size: 0 !important;
            }
            .move-right{
              background-image: url("../../images/icons/right-24.svg") !important;
            }
            .move-left{
              background-image: url("../../images/icons/left-24.svg") !important;
            }
            .move-top{
              background-image: url("../../images/icons/icon-navigation-chevron-up.svg") !important;
            }
            .move-down{
              background-image: url(../../images/icons/icon-navigation-chevron-down.svg) !important;
            }
          }
        }
      }
      .form-actions{
        background-color: $white;
        @include general-padding;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
      }
    }
  }
}
