@import "./form_items";

// Layout Form
.layout-node-form{
  @include grid-parent();
  nav#scroll-nav{
    @include grid-item(1, 2);
    &.sticky{
      position: sticky;
      top: 250px;
      height: 330px;
    }
    ul{
      list-style: none;
      padding: 0;
      padding-right: 32px;
      margin: 0;
      li{
        height: 40px;
        display: flex;
        align-items: center;
        a{
          @include font-plex-regular;
          color: $grey;
          height: 40px;
          line-height: 3;
          width: 100%;
          &:hover, &:focus{
            text-decoration: none;
          }
          &:after{
            content: "";
            bottom: 0;
            border-bottom: 1px solid $bright-grey;
            height: 1px;
            left: 0;
            right: 0;
            width: 100%;
            display: block;
          }
          &.active{
            color: $black;
            font-weight: 700;
            &:after{
              @include gradient-purple-blue;
              border-bottom: 2px solid;
            }
          }
        }
      }
    }
  }
  .layout-region-node-secondary{
    position: relative;
  }
  .layout-region-node-main{
    @include grid-item(3, 8);
    padding-right: 0;
    > div {
      .scroll-nav-content{
        padding-top: 150px;
        &:first-child{
          padding-top: 0;
        }
      }
    }
    .field-group-html-element{
      h4{
        @include font-plex-bold;
      }
    }
    .field-group-tabs-wrapper{
      .horizontal-tabs{
        border: none;
        // Form Navigation
        .horizontal-tabs-list{
          background-color: transparent !important;
          border-right: none;
          display: flex;
          .horizontal-tab-button{
            background-color: transparent !important;
            border-right: none;
            flex-grow: 1;
            &:after{

            }
            a{
              padding: 7px 2em 7px 1em;
              @include font-plex-regular;
              color: $grey;
              strong{
                font-weight: normal;
              }
              border-bottom: 1px solid $bright-grey;
              &:hover{
                background-color: transparent !important;
              }
            }
            &.selected{
              a{
                @include font-plex-bold;
                border-bottom: 2px solid;
                @include gradient-purple-blue;
                color: $black;
                strong{
                  font-weight: 600;
                }
              }
            }
          }
        }
        // Form Content
        .horizontal-tabs-panes{
          .seven-details{
            border: none;
            padding-left: 0;
            padding-right: 0;
            .seven-details__wrapper{
              background-color: white;
              padding: 0;
            }
          }
        }
      }
    }
    input, select {
      width: 100%;
    }
    input[type="checkbox"], .autocomplete-deluxe-form {
      width: auto;
    }
  }
  .layout-region-node-secondary{
    @include grid-item(12, 5);
    &.sticky{
      position: sticky;
      top: 250px;
      height: 330px;
    }
  }
}

// Split screen book
.node-buch-split-screen-form.node-form, .node-format-split-screen-form.node-form{
  .layout-node-form{
    display: block;
    #scroll-nav{
      display: none;
    }
  }
}



.views-exposed-form{
  .form--inline{
    border: none !important;
    @include detailssummary;
  }
}


// Sidebar Form
.layout-region-node-secondary {
  @include font-plex-regular;
  .entity-meta{
    padding: 0;
    border-right: none;
    border-left: none;
    border-radius: 0;
    background-color: white;
    box-shadow: none;
    .entity-meta__header{
      padding: 0;
      border-top: none;
      border-bottom: none;
      background-color: white;
    }
  }
}

// Delete Form Layout
.node-buch-delete-form{
  width: 49%;
  padding-right: 128px;
  margin-left: calc(15% + 10px);
  margin-top: 65px;
  @include font-plex-regular;
}

// General Page
.page-content{
  //margin-top: 65px;
  margin-top: 40px;
}

/*** Regions ***/
// Help Region
.region-help{
  @include font-plex-regular;
}

// Buttons
.button--primary{
  @include primary-button;
}

// Secondary Tabs Nav
#block-cleanimal-secondary-local-tasks{
  margin: 0 2.5em;
  nav{
    .is-horizontal{
      ul{
        &:before{
          height: 0;
        }
        li{
          margin: 0;
          border-bottom: 1px solid $bright-grey;
          border-right: none;
          border-left: none;
          a{
            color: $grey;
            &:focus{
              text-decoration: none;
            }
          }
          &.is-active{
            border-bottom: none;
            padding-bottom: 1px;
            &:after{
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              content: "";
              @include gradient-purple-blue;
              border-bottom: 2px solid transparent;
            }
            a{
              font-weight: 700;
              color: $black;
            }
          }
        }
      }
    }
  }
}

.button--danger, #edit-delete-translation, #edit-cancel, #edit-actions-cancel, #edit-reset-alphabetical{
  @include delete-button;
}

#edit-submit{
  @include font-plex-regular;
  @include primary-button;
}

#edit-preview{
  @include font-plex-regular;
  @include tertiary-button;
}

#edit-submit-content, #edit-submit--2 ,#edit-submit-files, #edit-submit-media-library--WbaIvT_NYBM, #edit-submit-media-library, .ief-entity-submit, #preview-submit, #edit-submit-institutionen{
  @include font-plex-regular;
  @include primary-button;
  @include small;
}

#edit-reset, #edit-clear {
  @include font-plex-regular;
  @include tertiary-button;
  @include small;
}

.button-action{
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  height: 48px;
  padding: 7px 2em 7px 1em !important;
  font-size: 14px !important;
  &:before{
    content: none;
  }
}

.field--type-text-long, .field--type-link, .field--type-entity-reference-revisions{
  .js-form-submit{
    margin-top: 10px;
    @include primary-button;
    @include small;
    &:focus{
      @include primary-button;
      @include small;
    }
    &:hover{
      margin-top: 10px;
    }
  }
  .field-add-more-submit{
    width: auto !important;
    float: right;
  }
}

.field--type-entity-reference{
  .js-form-submit{
    @include primary-button;
    @include small;
    &:focus{
      @include primary-button;
      @include small;
    }
  }
  .js-form-wrapper{
    input{
      width: auto !important;
      float: right;
    }
  }
}


.dropbutton-wrapper{
  .dropbutton-widget{
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    background-image: none !important;
    background-image: none !important;
    text-shadow: none !important;
    .dropbutton{
      width: auto;
      min-width: 100px;
      .dropbutton-action{
        //height: 28px;
        width: auto;
        min-width: 100px;
        a, input{
          @include font-plex-regular;
          border: 1px solid $primary-dark;
          color: $primary-dark;
          background-color: white;
          border-radius: 0 !important;
          text-shadow: none;
          background-image: none;
          &:hover{
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
          &:focus{
            z-index: 3;
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
        }
        input{
          height: 28px;
          width: 100% !important;
        }
      }
      .dropbutton-toggle{
        button{
          border: 1px solid $primary-dark;
          border-left: 0;
          background-color: white;
          &:hover, &:active, &:focus{
            color: $primary-dark;
            background-color: white;
            background-image: none;
            box-shadow: none;
          }
          .dropbutton-arrow{
            background-image: url("../../images/icons/dots_primary.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            top: auto;
            right: auto;
            display: block;
            overflow: hidden;
            width: 100%;
            height: 100%;
            margin-top: auto;
            border-width: 0;
            border-style: none;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
            line-height: 0;
            @media screen and (max-width: 1440px) {
              background-size: 15px;
            }
          }
        }
      }
      .secondary-action{
        width: auto;
        min-width: 100px;
        background-color: white;
        border-left: 1px solid $primary-dark;
        border-top: 0;
        border-bottom: 0;
        a{
          @include font-plex-regular;
          color: $primary-dark;
          border: none;
          &:hover{
            color: white !important;
            background-color: $primary;
            background-image: none;
            box-shadow: none;
          }
        }
        &:last-child{
          border-bottom: 1px solid $primary-dark;
        }
      }
    }
  }
  &.open{
    .dropbutton-widget{
      .dropbutton{
        .dropbutton-toggle{
          button{
            .dropbutton-arrow{
              background-position: 4px 3px;
            }
          }
        }
        .secondary-action{
          input{
            border-top: none !important;
            border-right: none !important;
          }
        }
      }
    }
  }
}

// Accordion
.seven-details{
  position: relative;
  background-color: white !important;
  &:first-child{
    border: none;
  }
  &:before{
    width: 10px;
    content: " ";
    background-image: url(../../images/icons/icon-navigation-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: auto;
    right: 7px;
    bottom: 17px;
    height: 10px;
  }
  &:first-child{
    border-top: 1px solid $bright-grey;
  }
  summary.seven-details__summary{
    padding: 7px 2em 7px 1em !important;
    font-weight: 300 !important;
    text-transform: none;
    line-height: 20px;
    color: $black;
    text-shadow: none;
    &::-webkit-details-marker{
      display: none;
    }
  }
}

.seven-details[open]{
  &:before{
    width: 10px;
    content: " ";
    background-image: url(../../images/icons/icon-navigation-chevron-down.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 17px;
    right: 7px;
    bottom: auto;
    height: 10px;
  }
  padding-top: 1px;
  background-color: white;
  background-image: none !important;
  .seven-details__wrapper.details-wrapper{
    @include clear-after();
  }
  .seven-details__summary{
    color: $primary;
  }
  &.vertical-tabs__pane{
    &:before{
      content: none;
    }
  }
}

// Detail Vertical


.layout-region.layout-region-node-secondary {
  .seven-details[open]{
    .seven-details__wrapper.details-wrapper{
      padding: 0 1.5em 1em 1.5em;
    }
  }
}

.field-group-html-element.flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    flex: 1;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.flex{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  > div {
    flex: 1;
    margin-right: 15px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.flex.col-2{
  > div {
    width: 48%;
    flex: 0 1 auto;
    input, select{
      width: 100%;
    }
  }
}

.field-group-html-element.alignment-start{
  align-items: flex-start;
}

// Helper Classes for Field Groups
.grid-full{
  @include grid-item(3, 8);
}

.grid-6{
  @include grid-item(1, 6)
}

.grid-2{
  @include grid-item(7, 8)
}

.grid-parent{
  display: grid;
  grid-template-columns: 64px 64px 64px 64px 64px 64px 64px 64px;
  grid-gap: 32px;
  max-width: 100%;
}

/*Inline entity form*/
.field--type-entity-reference fieldset.js-form-wrapper.form-wrapper .fieldset-wrapper{
  .form-item, .form-wrapper{
    input{
      width: 100%;
      float: none;
    }
    .container-inline{
      display: block;
    }
  }
}

/*Inline entity form - Table view mode*/
.field--type-entity-reference.field--widget-inline-entity-form-complex-table-view-mode {
  .ief-form.ief-form-row.js-form-wrapper.form-wrapper{
    .form-item, .form-wrapper{
      input{
        width: 100%;
        float: none;
      }
      .container-inline{
        display: block;
      }
    }
  }
}
