.views-element-container{
  .view-filters{
    .views-exposed-form{
      .form--inline{
        border: 1px solid $bright-grey;
        border-bottom: none;
        .js-form-item{
          width: 15%;
          input, select{
            width: 100%;
          }
        }
        .form-actions{
          input{
            @include primary-button;
            @include small;
          }
        }
      }
    }
  }
}

.views-form{
  #edit-header{
    @include detailssummary;
    #vbo-action-form-wrapper{
      border-left: 1px solid $alternativ-grey;
      border-right: 1px solid $alternativ-grey;
      border-bottom: 1px solid $alternativ-grey;
      .vbo-multipage-selector{
        border: 0;
        legend{
          position: relative;
          top: auto;
        }

      }
      .form-actions, .js-form-item{
        @include general-padding;
        margin: 0;
      }
      .js-form-type-select, .vbo-multipage-selector{
        display: inline-block;
      }
      .js-form-item-select-all{
        border-bottom: 1px solid $alternativ-grey;
      }
      .form-actions{
        background-color: $white;
        @include general-padding;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
      }
    }
    .js-form-wrapper:not(div[id~="vbo"]) {
      display: flex;
      align-items: flex-end;
      .js-form-item{
        margin-right: 0.5em;
      }
    }
  }
  .media-library-views-form{
    .form-actions{
      input{
        @include primary-button;
        @include small;
      }
    }
  }
}

// On default hide the node bulk form, only show them if nodes are selected.
.view #edit-header div[id^="edit-node-bulk-form"].hidden,  .view #edit-header div[id^="vbo-action-form-wrapper"].hidden {
  display: none !important;
}

// Editing Views View
.views-edit-view{
  form.form-edit{
    .views-displays{
      border: none;
      .views-display-top{
        background-color: $white;
        border-bottom: none;
        .secondary{
          .tabs__tab, .add{
            a{
              @include tertiary-button;
              height: auto;
            }
            &.is-active{
              a{
                @include primary-button;
                height: auto;
              }
            }
          }
        }
      }
    }
    .edit-display-settings{
      margin: 0;
      padding: 12px 12px 0 12px;
      border: 1px solid $bright-grey;
      border-top: none;
      .views-display-column{
        border: 1px solid $bright-grey;
        .views-ui-display-tab-bucket{
          h3{
            text-transform: none;
          }
          .views-display-setting{
            &:nth-of-type(even){
              background-color: $white;
            }
          }
          &.pager{
            height: auto;
            background-color: white;
            display: block;
            align-items: normal;
            justify-content: normal;
          }
        }
      }
      details{
        border: 1px solid $bright-grey;
      }
    }
    .form-actions{
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
}

// Preview Views
.views-preview-wrapper{
  border: none;
  .view-preview-form{
    h2.view-preview-form__title{
      border: none;
      background-color: $white;
    }
  }
}

// Views Dropdown Widget
.views-ui-settings-bucket-operations, #views-display-extra-actions{
  .dropbutton-toggle{
    button{
      .dropbutton-arrow{
        background-position: 6px 3px !important;
        background-size: 15px !important;
      }
    }
  }
}

// General table styling
table.views-table, table.sticky-header, table.ief-entity-table ,table.diff-revisions, table{
  @include font-plex-regular;
  thead{
    height: 48px;
    background-color: $white;
    tr{
      border-bottom: 1px solid $bright-grey;
      th{
        font-weight: 400;
        border: none;
        text-transform: none;
        color: $grey;
        position: relative;
        a{
          &:after{
            transition: none;
          }
        }
        &.is-active{
          background-color: white;
          &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            border-top: 1px solid $white;
          }
          a{
            color: $primary-dark;
            font-weight: 500;
            span{
              &.tablesort{
                &.tablesort--asc{
                  background-image: url(../../images/icons/icon-navigation-chevron-down.svg);
                }
                &.tablesort--desc{
                  background-image: url(../../images/icons/icon-navigation-chevron-up.svg);
                }
              }
            }
            &:after{
              @include gradient-purple-blue;
            }
            &:hover{
              &:after{
                @include gradient-purple-blue;
                border-bottom: 2px solid;
              }
            }
            &:focus{
              color: $primary-dark;
            }
          }
        }
        &.select-all{
          input[type="checkbox"] {
            display: block;
          }
        }
      }
    }
  }
  tbody{
    tr{
      &:hover{
        background-color: transparent;
      }
      td{
        &.views-field-field-inhalt-pdf-{
          span.file--mime-application-pdf{
            background-image: url("../../images/icons/icon-file-download.svg");
            padding-left: 0;
            min-height: 20px;
            min-width: 20px;
            a{
              display: block;
              height: 20px;
              width: 20px;
            }
          }
        }
        &.views-field-filename{
          max-width: 300px;
          overflow: hidden;
        }
        .js-form-wrapper{
          .button{
            @include primary-button;
            @include small;
            line-height: 26px;
          }
        }
        .form-actions{
          .js-form-submit{
            @include primary-button;
            @include small;
          }
        }
      }
    }
  }
}

// Pager
div.pager{
  display: flex;
  align-items: center;
  justify-content: center;
  nav.pager{
    position: relative;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    .pager__items{
      .pager__item{
        @include font-plex-regular;
        color: $black;
        &:hover{
          border-bottom-width: 0;
          border-bottom-color: transparent;
        }
        a{
          @include font-plex-regular;
          color: $black;
          &:hover{
            border-bottom-width: 0;
            border-bottom-color: transparent;
          }
        }
        &.is-active{
          color: $black;
          border-bottom-width: 4px;
          border-bottom-color: $primary-dark;
          a{
            color: $black;
            border-bottom-width: 4px;
            border-bottom-color: $primary-dark;
          }
        }
      }
    }
  }
  .view-footer{
    position: absolute;
    left: 0;
  }
}
