@import "./mixins";
@import "./forms";
@import "./views";

*{
  border-radius: 0 !important;
}

h1.page-title {
  @include font-plex-medium;
  font-size: 28px;
  line-height: 1.29;
  letter-spacing: normal;
}

header.content-header{
  background-color: $black;
  color: $white;
  transition: max-height ease-in 300ms;
  max-height: 210px;
  min-height: 120px;
  &.small{
    min-height: 120px;
    .region-header-first{
      .view-book-header-context{
        img{
          max-width: 25% !important;
        }
      }
    }
    .region-header-second{
      .block-page-title-block{
        .page-title{
          max-width: 100%;
        }
      }
    }
    .region-header-third{
      .views-element-container{
        .view-book-header-context{
          .view-content{
            display: flex;
            .views-row{
              font-size: 12px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

// 3-column header - this is project specific.
body.node-add-edit{
  header.content-header{
    .layout-container {
      @include grid-parent();
      .region.region-header-first{
        @include grid-item(1, 2);
        display: flex;
        align-items: center;
        .view-book-header-context{
          img{
            max-width: 50%;
            margin: 0 auto;
            display: block;
          }
        }
      }
      .region.region-header-second{
        @include grid-item(3, 9);
        display: flex;
        align-items: center;
      }
      .region.region-header-third{
        @include grid-item(13, 4);
        display: flex;
        align-items: center;
      }
    }
  }
}

body:not(.node-add-edit) {
  header.content-header {
    .layout-container {
      .region.region-header-second{
        @include grid-item(1, 16);
        padding-bottom: 24px;
      }
    }
  }
}

// Primary Nav
.region.region-pre-content{
  margin: 0 -2.5em;
  background: $white;
}
nav.tabs {
  margin: 0 2.5em;
  nav{
    ul.tabs.primary{
      background: $white;
      margin-top: 0;
      width: max-content;
      &:before{
        background-color: #ffffff;
      }
      li{
        background-color: white;
        border-color: transparent !important;
        &:after{
          border-bottom: 1px solid $bright-grey;
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
        }
        a{
          padding: 7px 2em 7px 1em !important;
          @include font-plex-regular;
          color: $grey;
          text-decoration: none;
        }
        &.is-active {
          &:after{
            position: absolute;
            right: 0;
            bottom: 1px;
            left: 0;
            content: "";
            @include gradient-purple-blue;
            border-bottom: 2px solid transparent;
          }
          a{
            @include font-plex-bold;
            border-bottom: 1px solid transparent;
            color: $black;
          }
        }
      }
    }
  }
}

#block-cleanimal-primary-local-tasks{
  background: $white;
}

#block-diaphanes-backend-local-actions{
  display: flex;
  justify-content: flex-end;
  margin: 0 0 40px 0;
  ul {
    li {
      a {
        min-width: 150px;
      }
    }
  }
}

// Tabs on node edit/add pages.
body.node-add-edit{
  nav.tabs {
    @include grid-parent();
    max-width: none;
    margin: 0 2.5em;
    nav {
      //@include grid-item(3, 8);
    }
  }
}

// Edit Thrid column
#nodeEditThirdColumn{
  .form-actions{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    input, a{
      flex-grow: 1;
    }
  }
}

// Iframe
iframe{
  @include font-plex-regular;
}

body.cke_editable{
  @include font-plex-regular;
}

body{
  @include font-plex-regular;
}

a{
  color: $primary-dark;
  &:after{
    transition: none;
    border: none;
  }
  &:hover{
    color: $primary-dark !important;
    &:after{
      transition: none;
      border: none;
    }
  }
}

// Modal
.ui-dialog{
  .ui-dialog-titlebar{
    background: none !important;
    background-color: $black !important;
    button{
      border-width: 1px;
      .ui-icon-closethick{
        background: none;
        background-image: url("/themes/custom/cleanimal/images/icons/icon-navigation-close_white.svg");
        background-size: 20px;
        background-position: center;
      }
    }
  }
  .ui-dialog-content{
    .media-library-wrapper{
      .media-library-content{
        .media-library-add-form-wrapper{
          background-color: $white;
          border: none;
        }
        .views-element-container{
          .media-library-view{
            .view-filters{
              .views-exposed-form{
                .form--inline{
                  border: none;
                  .js-form-item{
                    width: auto;
                  }
                  .media-library-view--form-actions{
                    input{
                      @include primary-button;
                      @include small;
                    }
                  }
                }
              }
            }
            .view-content{
              .views-form{
                .media-library-views-form{
                  .media-library-item{
                    position: relative;
                    .js-click-to-select-checkbox{
                      display: block;
                      width: 15px;
                      height: 15px;
                      top: auto;
                      right: 15px;
                      bottom: 13px;
                      .field-content{
                        width: 15px;
                        height: 15px;
                        display: block;
                        .js-form-type-checkbox{
                          width: 15px;
                          height: 15px;
                          label{
                            &:before{
                              min-width: 16px;
                            }
                          }
                          .visually-hidden{
                            position: relative !important;
                            clip: auto;
                            width: auto;
                            height: auto;
                            word-wrap: initial;
                            text-indent: 9999px;
                            white-space: nowrap;
                            overflow: hidden;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ui-dialog-buttonpane{
    background-color: $white;
    button{
    }
  }
}

// Breadcrumb
.breadcrumb{
  ol{
    li{
      &:before{
        margin-left: 8px;
        margin-right: 8px;
        content: "/";
      }
    }
  }
}

// Cron Button
.cron-description__run-cron{
  .button{
    top: 0em;
    height: auto;
  }
}

// Shrink Header on Menu
.padding-top{
  padding-top: calc(32px + 96px);
}

.fixed{
  z-index: 10;
  position: fixed;
  width: 100%;
}

#toolbar-bar{
  @include gradient-background;
  .toolbar-tab{
    a{
      color: white;
      &:before{
        color: white;
      }
      &:focus, &:hover{
        color: white !important;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    a.is-active{
      color: white;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

// Revision Table Radio Button
// @todo find a way to style Radio Buttons without label
//  (maybe with an image https://stackoverflow.com/questions/22325990/styling-radio-button-without-label)
// For now just show the standard radio buttons

.diff-revisions{
  input[type="radio"] {
    display: block;
  }
}

//Draggable widget Link
.tabledrag-toggle-weight{
  color: $primary-dark;
  &:focus, &:hover{
    color: $primary-dark;
  }
}

// Add Icon
.add{
  a{
    .icon{
      &.add{
        background-image: url("/themes/custom/cleanimal/images/icons/icon-navigation-add.svg");
        background-size: 18px;
        background-position: -2px 0px;
      }
    }
    &:hover{
      .icon{
        &.add{
          background-image: url("/themes/custom/cleanimal/images/icons/icon-navigation-add.svg");
          background-size: 18px !important;
          background-position: -2px 0px !important;
        }
      }
    }
  }
}
.js .paragraph-top {
  grid-template-columns: 200px auto 1fr auto;
}

